

<main>
    <div>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-danger text-danger" >Mega Filme HD</h1>
                
              </div>
            </div>
          </section >
          <div>
            <p style="text-align: center;">
              Somos uma empresa dedicada em trazer entretenimento e diversão para todos os tipos de público. Com excelenciência no atendimento, e com foco em fornecer os melhores contúdos para nossos clientes.
              Iniciamos esse projeto na intensão de redimir e melhorar o mercado de filmes e séries, disponibilizando os maiores lançamentos do cinema de forma totalmente gratuita.
              Nossa equipe está totalmente preparada para dar suporte a você cliente, que deseja passar seu tempo conosco. Agradecemos a preferência e qualquer dúvida ou indicação entre em contato em nossas redes sociais.
            </p>
          </div>

</main>

