*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
.conteudo-titulo{
    border-top: 0.4px solid #fff2e7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
    
}