<main class="conteudo">
    <section class="conteudo-principal">
        <div class="conteudo-principal-escrito">
            <h1 class="conteudo-principal-escrito-titulo">Sua matrícula</h1>
            <h2 class="conteudo-principal-escrito-subtitulo">Saiba todas sua informações escolares de forma rápida e facíl</h2>
            <button class="conteudo-principal-escrito-botao">Acesse aqui</button>
        </div>
        <img class="conteudo-principal-imagem" src="../../assets/image/teaching-icon.png"  alt="">
    </section>
    <section class="conteudo-secundario">
        <h3 class="conteudo-secundario-titulo">O que esse site faz por você?</h3>
        <p class="conteudo-secundario-paragrafo">Esse site foi feito para vocês <strong> alunos e pais/reponsáveis</strong> </p>
        <p class="conteudo-secundario-paragrafo">que precisam requisitar sempre a matricula escolar para acessar o portal do aluno,</p>  
        <p class="conteudo-secundario-paragrafo">aqui você encontra todas informações do estudante em um só lugar</p>
    </section>
</main>
