<main>
      
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-danger text-danger" >Mega Filmes HD</h1>
          <p class="lead text-muted">Um lugar para você e sua familía, com diversão garantida</p>
          <p>
            <a href="categoria.html" class="btn btn-danger my-2">Categorias</a>
            <a [routerLink]="['/sobre']" class="btn btn-secondary my-2">Sobre</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/animaisfantasticos.jpg" alt="">
  
              <div class="card-body">
                <p class="card-text">Um excêntrico magizoologista carrega uma maleta cheia de animais mágicos coletados durante suas viagens pelo mundo. As criaturas acabam saindo de sua mala em Nova York, e agora ele precisa usar suas habilidades para capturá-las.p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
             <img src="../assets/img/lucaposter.jpg" alt="">
  
              <div class="card-body">
                <p class="card-text">Luca vive aventuras com seu novo melhor amigo, mas a diversão é ameaçada por um segredo: seu amigo é um monstro marinho de outro mundo que fica abaixo da superfície da água.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/mudodejack.jpg" alt="">
  
              <div class="card-body">
                <p class="card-text">Jack Skellington, o Rei das Abóboras, se cansa de fazer o Dia das Bruxas todos os anos e deixa os limites da cidade. Por acaso, acaba atravessando o portal do Natal, onde vê a alegria do espírito natalino. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/oespião.jpg" alt="">
  
              <div class="card-body">
                <p class="card-text">Antes de se tornar um agente da CIA, Bob sofria bullying na época do colégio. Na agência, ele precisa resolver um caso ultrassecreto e recorre a um antigo colega, popular nos tempos da escola, hoje contador..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/thor-amor-e-trovao.jpg" alt="">
              <div class="card-body">
                <p> Juntos, eles embarcam numa angustiante aventura cósmica para descobrir o mistério da vingança do Carniceiro dos Deuses e detê-lo antes que seja tarde demais.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/raya.jpg" id="raya" alt="">
  
              <div class="card-body">
                <p>Há muito tempo, no mundo de fantasia de Kumandra, humanos e dragões viviam juntos em harmonia. Mas quando uma força maligna ameaçou a terra, os dragões se sacrificaram para salvar a humanidade.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    
                  </div>
                  <small class="text-muted">1hora e 30min</small>
                </div>
              </div>
            </div>
          </div>
  
          
          
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  
  </main>
